@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --champagne-pink: #efe1d1;
  --dark-grey: #333;
  --dark-purple: #331d2c;
  --font-family: "Comic Neue", cursive;
  --raisin-black: #3f2e3e;
  --raspberry: #d31a38;
  --raspberry-rose: #a78295;
}
.body {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-family: "Comic Neue", cursive;
  position: relative;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.row {
  display: flex;
  justify-content: space-between;
}
/*********** No Notes Overlay ***********/
.no__notes {
  align-content: center;
  background-color: var(--raspberry-rose);
  display: grid;
  font-family: var(--font-family);
  gap: 3rem;
  height: 100%;
  margin-inline: auto;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.no__notes h1 {
  color: #f5f5f5;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  text-shadow: 0 3px 8px black;
}
.btn-new {
  background-color: var(--champagne-pink);
  border: none;
  border-radius: 2em;
  color: var(--dark-grey);
  cursor: pointer;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  font-weight: bold;
  outline: transparent;
  position: relative;
  transition: transform 850ms;
}
.btn-new::after {
  background-color: var(--raisin-black);
  border-radius: inherit;
  content: "";
  filter: drop-shadow(0 0 0.5em var(--champagne-pink));
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 500ms;
  z-index: 0;
}
.btn-new:hover::after,
.btn-new:focus::after {
  opacity: 1;
}
.btn-new:hover,
.btn-new:focus {
  color: whitesmoke;
  transform: translateY(-0.75rem);
}
.now__notes {
  animation: now_you_dont 1s ease-out;
  animation-fill-mode: forwards;
}
.link {
  color: inherit;
  display: inline-block;
  outline: transparent;
  padding: 0.8em 1em;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
@keyframes now_you_dont {
  0% {
    transform: translateY(0);
  }
  100% {
    display: none;
    transform: translateY(-110vh);
  }
}

/****************** LAYOUT ******************/

/*********** Sidebar / Navigation ***********/
.sidebar {
  align-content: start;
  background-color: var(--raisin-black);
  color: whitesmoke;
  display: grid;
  gap: 2em;
  padding: 1em;
  position: sticky;
  top: 0;
  bottom: 0;
}
.sidebar h2 {
  align-self: end;
  font-size: 1.8rem;
}
hr {
  background-color: #fff;
  border: none;
  border-radius: 1em;
  height: 2px;
  margin-top: -1.2rem;
}
.nav__list {
  align-content: center;
  display: grid;
  gap: 0.5em;
  list-style: none;
  min-height: 80%;
}
.nav__link {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.5em 0;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__link.active {
  color: var(--raspberry);
  font-weight: bold;
}
.main__content {
  min-height: 100vh;
  padding-bottom: 3rem;
}
/*********** Header Component ***********/
header {
  align-items: center;
  display: grid;
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: bold;
  grid-auto-flow: row;
  min-height: 60px;
  padding: 0.5em 0;
  position: relative;
}
header::before {
  background: #fff url(/header_bg.png) no-repeat;
  background-size: cover;
  content: "";
  filter: blur(0px);
  inset: 0;
  position: absolute;
  z-index: -1;
}
.greeting {
  color: var(--dark-grey);
  filter: none;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  text-shadow: 0px 4px 6px #fff;
}
.date {
  color: #ddd;
  text-shadow: 0px 4px 6px var(--dark-grey);
}

/*********** Footer Component ***********/

footer {
  align-items: center;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 2rem;
}
/*********** Main Component ***********/
main h1 {
  margin-block: 1em 1.4em;
  color: var(--raisin-black);
}

/**************** ROUTES ****************/

/********* Notes Page *********/

.notes__page {
  background: url(/notes_page_bg.gif) no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 80vh;
}

.note__layout {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.note__card {
  background: #ffffffe9;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: var(--dark-grey);
  display: flex;
  flex-flow: column nowrap;
  font-family: inherit;
  height: 250px;
  max-width: 100%;
  padding: 1rem;
  transition: box-shadow 800ms, background 1s;
}
.note__card h2 {
  border-bottom: 1px solid var(--dark-grey);
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 0.5em 0 0.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.note__card:hover {
  background: #ffffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.note__body-container {
  overflow-y: auto;
  padding-bottom: 0.5em;
  padding-right: 0.2em;
  visibility: hidden;
}
.note__body-container:hover,
.note__body {
  visibility: visible;
}
.note__body {
  white-space: pre-wrap;
}
.custom__scrollbar::-webkit-scrollbar {
  height: 0.3em;
  width: 0.3em;
}
.custom__scrollbar::-webkit-scrollbar-track {
  margin-block: 0.5em;
}
.custom__scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 8px;
}
.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #494949;
}

/********* Add Note Page *********/

.add-note__page {
  background: url(/add_note_bg.gif) no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 80vh;
}
form {
  max-width: 500px;
  background: #ffffffe9;
}
fieldset {
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}
legend {
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
}
.form__group {
  display: grid;
  margin-bottom: 2em;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
input,
textarea {
  border-color: var(--dark-grey);
  font-family: var(--font-family);
  font-size: 1rem;
  outline: transparent;
  padding: 0.5em 1em;
}
input {
  border: none;
  border-bottom: 1px solid var(--dark-grey);
  font-weight: 600;
}
textarea {
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: vertical;
}
::placeholder {
  font-size: 1rem;
}
.btn-form {
  background-color: var(--raspberry);
  border: none;
  border-radius: 1rem;
  color: #f4f4f4;
  cursor: pointer;
  font-weight: bold;
  outline: transparent;
  position: relative;
}
.btn-form::after {
  background-color: var(--dark-grey);
  border-radius: inherit;
  content: "";
  filter: drop-shadow(0 0 0.2em var(--raspberry));
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 500ms;
  z-index: 0;
}
.btn-form:hover::after,
.btn-form:focus::after {
  opacity: 1;
}
.btn-form:active {
  translate: 0 -0.5em;
}
.form__link {
  color: white;
  display: inline-block;
  font-size: 1rem;
  outline: transparent;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

@media (min-width: 768px) {
  
  .body {
    grid-template-columns: clamp(200px, 20vw, 300px) 1fr;
  }
}
